<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item>Home</button>
    <button mat-menu-item>About Me</button>
    <button mat-menu-item>Contact Me</button>
  </mat-menu>
  
  <span>{{ title }}</span>
  <span class="example-spacer"></span>
  

  <button mat-button class="d-none d-sm-block" >Home</button>
  <button mat-button class="d-none d-sm-block" >About Me</button>
  <button mat-button class="d-none d-sm-block" >Contact Me</button>
  
  <!--
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Linked in icon">
    <mat-icon>favorite</mat-icon>
  </button>-->
</mat-toolbar>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 " style="display: flex;
    align-items: center; 
    padding-right: 0px; 
    padding-left: 0px; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) ,url('../assets/img/hero-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    ">
    <div class="" style="font-weight: bolder;
    width: 90%; 
    height: 200px;
    margin: 0 auto;
    color: white;">
      
    <h3 style="font-weight: 500;">Domain Driven Architecture</h3>
    <p>A brief introduction to this popular architecture.</p>
    </div>

      
    </div>
  </div>
  <div class="row" style="margin-top: 30px;">
    <div class="col-12 col-sm-6 col-md-4">

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      
    </div>
    <div class="col-12 col-sm-6 col-md-4">

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

    </div>
    <div class="col-12 col-sm-6 col-md-4">

      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>


  <div class="row">
    <div class="col-12 text-center" style="background-color: rgb(245, 245, 245);padding-top: 50px;">
      <p>Copyright &copy; Salvador.</p>
    </div>
  </div>


</div>


